<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <script>'f7e61e2fa233d9aeb1b98346b9049eb40618650915c7eda0d60c4bf556db6a3e'</script> <!-- emoji.rodeo --->
    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
      
      <br />
      
      <div style="color: #333;width: 100%;border-bottom: 1px solid #333;">&nbsp;</div>
      <div>
        <h3 style="color: #333;">Subscribe to me on Gumroad</h3>
        <form action="https://gumroad.com/follow_from_embed_form" class="form gumroad-follow-form-embed" method="post">
          <input name="seller_id" type="hidden" value="7737122994503">
          <input name="email" placeholder="Your email address" type="email">
          <button type="submit" style=" background: #612a2a !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#875050, darkColorstr=#592222, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#875050), to(#592222)) !important;background: -moz-linear-gradient(top, #875050, #592222) !important;background: -o-linear-gradient(top, #875050, #592222) !important;border: 1px solid #6e3737 !important; background: #632b2b !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#895151, darkColorstr=#5b2323, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#895151), to(#5b2323)) !important;background: -moz-linear-gradient(top, #895151, #5b2323) !important;background: -o-linear-gradient(top, #895151, #5b2323) !important;border: 1px solid #703838 !important; background: #662c2c !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#8c5252, darkColorstr=#5e2424, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#8c5252), to(#5e2424)) !important;background: -moz-linear-gradient(top, #8c5252, #5e2424) !important;background: -o-linear-gradient(top, #8c5252, #5e2424) !important;border: 1px solid #733939 !important; background: #6b2e2e !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#915454, darkColorstr=#632626, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#915454), to(#632626)) !important;background: -moz-linear-gradient(top, #915454, #632626) !important;background: -o-linear-gradient(top, #915454, #632626) !important;border: 1px solid #783b3b !important; background: #703030 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#965656, darkColorstr=#682828, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#965656), to(#682828)) !important;background: -moz-linear-gradient(top, #965656, #682828) !important;background: -o-linear-gradient(top, #965656, #682828) !important;border: 1px solid #7d3d3d !important; background: #7a3535 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#a05b5b, darkColorstr=#722d2d, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#a05b5b), to(#722d2d)) !important;background: -moz-linear-gradient(top, #a05b5b, #722d2d) !important;background: -o-linear-gradient(top, #a05b5b, #722d2d) !important;border: 1px solid #874242 !important; background: #7d3636 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#a35c5c, darkColorstr=#752e2e, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#a35c5c), to(#752e2e)) !important;background: -moz-linear-gradient(top, #a35c5c, #752e2e) !important;background: -o-linear-gradient(top, #a35c5c, #752e2e) !important;border: 1px solid #8a4343 !important; background: #853838 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ab5e5e, darkColorstr=#7d3030, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ab5e5e), to(#7d3030)) !important;background: -moz-linear-gradient(top, #ab5e5e, #7d3030) !important;background: -o-linear-gradient(top, #ab5e5e, #7d3030) !important;border: 1px solid #924545 !important; background: #8a3737 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#b05d5d, darkColorstr=#822f2f, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#b05d5d), to(#822f2f)) !important;background: -moz-linear-gradient(top, #b05d5d, #822f2f) !important;background: -o-linear-gradient(top, #b05d5d, #822f2f) !important;border: 1px solid #974444 !important; background: #8f3939 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#b55f5f, darkColorstr=#873131, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#b55f5f), to(#873131)) !important;background: -moz-linear-gradient(top, #b55f5f, #873131) !important;background: -o-linear-gradient(top, #b55f5f, #873131) !important;border: 1px solid #9c4646 !important; background: #943939 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ba5f5f, darkColorstr=#8c3131, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ba5f5f), to(#8c3131)) !important;background: -moz-linear-gradient(top, #ba5f5f, #8c3131) !important;background: -o-linear-gradient(top, #ba5f5f, #8c3131) !important;border: 1px solid #a14646 !important; background: #963737 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#bc5d5d, darkColorstr=#8e2f2f, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#bc5d5d), to(#8e2f2f)) !important;background: -moz-linear-gradient(top, #bc5d5d, #8e2f2f) !important;background: -o-linear-gradient(top, #bc5d5d, #8e2f2f) !important;border: 1px solid #a34444 !important; background: #993838 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#bf5e5e, darkColorstr=#913030, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#bf5e5e), to(#913030)) !important;background: -moz-linear-gradient(top, #bf5e5e, #913030) !important;background: -o-linear-gradient(top, #bf5e5e, #913030) !important;border: 1px solid #a64545 !important; background: #9e3a3a !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#c46060, darkColorstr=#963232, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#c46060), to(#963232)) !important;background: -moz-linear-gradient(top, #c46060, #963232) !important;background: -o-linear-gradient(top, #c46060, #963232) !important;border: 1px solid #ab4747 !important; background: #9e3939 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#c45f5f, darkColorstr=#963131, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#c45f5f), to(#963131)) !important;background: -moz-linear-gradient(top, #c45f5f, #963131) !important;background: -o-linear-gradient(top, #c45f5f, #963131) !important;border: 1px solid #ab4646 !important; background: #a13a3a !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#c76060, darkColorstr=#993232, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#c76060), to(#993232)) !important;background: -moz-linear-gradient(top, #c76060, #993232) !important;background: -o-linear-gradient(top, #c76060, #993232) !important;border: 1px solid #ae4747 !important; background: #a33939 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#c95f5f, darkColorstr=#9b3131, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#c95f5f), to(#9b3131)) !important;background: -moz-linear-gradient(top, #c95f5f, #9b3131) !important;background: -o-linear-gradient(top, #c95f5f, #9b3131) !important;border: 1px solid #b04646 !important; background: #a63939 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#cc5f5f, darkColorstr=#9e3131, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#cc5f5f), to(#9e3131)) !important;background: -moz-linear-gradient(top, #cc5f5f, #9e3131) !important;background: -o-linear-gradient(top, #cc5f5f, #9e3131) !important;border: 1px solid #b34646 !important; background: #a83939 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ce5f5f, darkColorstr=#a03131, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ce5f5f), to(#a03131)) !important;background: -moz-linear-gradient(top, #ce5f5f, #a03131) !important;background: -o-linear-gradient(top, #ce5f5f, #a03131) !important;border: 1px solid #b54646 !important; background: #ab3a3a !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#d16060, darkColorstr=#a33232, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#d16060), to(#a33232)) !important;background: -moz-linear-gradient(top, #d16060, #a33232) !important;background: -o-linear-gradient(top, #d16060, #a33232) !important;border: 1px solid #b84747 !important; background: #ad3b3b !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#d36161, darkColorstr=#a53333, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#d36161), to(#a53333)) !important;background: -moz-linear-gradient(top, #d36161, #a53333) !important;background: -o-linear-gradient(top, #d36161, #a53333) !important;border: 1px solid #ba4848 !important; background: #b03939 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#d65f5f, darkColorstr=#a83131, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#d65f5f), to(#a83131)) !important;background: -moz-linear-gradient(top, #d65f5f, #a83131) !important;background: -o-linear-gradient(top, #d65f5f, #a83131) !important;border: 1px solid #bd4646 !important; background: #b33a3a !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#d96060, darkColorstr=#ab3232, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#d96060), to(#ab3232)) !important;background: -moz-linear-gradient(top, #d96060, #ab3232) !important;background: -o-linear-gradient(top, #d96060, #ab3232) !important;border: 1px solid #c04747 !important; background: #b53838 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#db5e5e, darkColorstr=#ad3030, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#db5e5e), to(#ad3030)) !important;background: -moz-linear-gradient(top, #db5e5e, #ad3030) !important;background: -o-linear-gradient(top, #db5e5e, #ad3030) !important;border: 1px solid #c24545 !important; background: #ba3636 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#e05c5c, darkColorstr=#b22e2e, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#e05c5c), to(#b22e2e)) !important;background: -moz-linear-gradient(top, #e05c5c, #b22e2e) !important;background: -o-linear-gradient(top, #e05c5c, #b22e2e) !important;border: 1px solid #c74343 !important; background: #bd3737 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#e35d5d, darkColorstr=#b52f2f, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#e35d5d), to(#b52f2f)) !important;background: -moz-linear-gradient(top, #e35d5d, #b52f2f) !important;background: -o-linear-gradient(top, #e35d5d, #b52f2f) !important;border: 1px solid #ca4444 !important; background: #bf3535 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#e55b5b, darkColorstr=#b72d2d, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#e55b5b), to(#b72d2d)) !important;background: -moz-linear-gradient(top, #e55b5b, #b72d2d) !important;background: -o-linear-gradient(top, #e55b5b, #b72d2d) !important;border: 1px solid #cc4242 !important; background: #c43535 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ea5b5b, darkColorstr=#bc2d2d, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ea5b5b), to(#bc2d2d)) !important;background: -moz-linear-gradient(top, #ea5b5b, #bc2d2d) !important;background: -o-linear-gradient(top, #ea5b5b, #bc2d2d) !important;border: 1px solid #d14242 !important; background: #c43333 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ea5959, darkColorstr=#bc2b2b, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ea5959), to(#bc2b2b)) !important;background: -moz-linear-gradient(top, #ea5959, #bc2b2b) !important;background: -o-linear-gradient(top, #ea5959, #bc2b2b) !important;border: 1px solid #d14040 !important; background: #c93434 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ef5a5a, darkColorstr=#c12c2c, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ef5a5a), to(#c12c2c)) !important;background: -moz-linear-gradient(top, #ef5a5a, #c12c2c) !important;background: -o-linear-gradient(top, #ef5a5a, #c12c2c) !important;border: 1px solid #d64141 !important; background: #cf3636 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#f55c5c, darkColorstr=#c72e2e, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#f55c5c), to(#c72e2e)) !important;background: -moz-linear-gradient(top, #f55c5c, #c72e2e) !important;background: -o-linear-gradient(top, #f55c5c, #c72e2e) !important;border: 1px solid #dc4343 !important; background: #d13232 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#f75858, darkColorstr=#c92a2a, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#f75858), to(#c92a2a)) !important;background: -moz-linear-gradient(top, #f75858, #c92a2a) !important;background: -o-linear-gradient(top, #f75858, #c92a2a) !important;border: 1px solid #de3f3f !important; background: #d43333 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#fa5959, darkColorstr=#cc2b2b, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#fa5959), to(#cc2b2b)) !important;background: -moz-linear-gradient(top, #fa5959, #cc2b2b) !important;background: -o-linear-gradient(top, #fa5959, #cc2b2b) !important;border: 1px solid #e14040 !important; background: #d63333 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#fc5959, darkColorstr=#ce2b2b, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#fc5959), to(#ce2b2b)) !important;background: -moz-linear-gradient(top, #fc5959, #ce2b2b) !important;background: -o-linear-gradient(top, #fc5959, #ce2b2b) !important;border: 1px solid #e34040 !important; background: #d93232 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff5858, darkColorstr=#d12a2a, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff5858), to(#d12a2a)) !important;background: -moz-linear-gradient(top, #ff5858, #d12a2a) !important;background: -o-linear-gradient(top, #ff5858, #d12a2a) !important;border: 1px solid #e63f3f !important; background: #db3030 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff5656, darkColorstr=#d32828, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff5656), to(#d32828)) !important;background: -moz-linear-gradient(top, #ff5656, #d32828) !important;background: -o-linear-gradient(top, #ff5656, #d32828) !important;border: 1px solid #e63d3d !important; background: #e32d2d !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff5353, darkColorstr=#db2525, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff5353), to(#db2525)) !important;background: -moz-linear-gradient(top, #ff5353, #db2525) !important;background: -o-linear-gradient(top, #ff5353, #db2525) !important;border: 1px solid #e63a3a !important; background: #e82e2e !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff5454, darkColorstr=#e02626, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff5454), to(#e02626)) !important;background: -moz-linear-gradient(top, #ff5454, #e02626) !important;background: -o-linear-gradient(top, #ff5454, #e02626) !important;border: 1px solid #e63b3b !important; background: #ed2f2f !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff5555, darkColorstr=#e52727, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff5555), to(#e52727)) !important;background: -moz-linear-gradient(top, #ff5555, #e52727) !important;background: -o-linear-gradient(top, #ff5555, #e52727) !important;border: 1px solid #e63c3c !important; background: #f02d2d !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff5353, darkColorstr=#e82525, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff5353), to(#e82525)) !important;background: -moz-linear-gradient(top, #ff5353, #e82525) !important;background: -o-linear-gradient(top, #ff5353, #e82525) !important;border: 1px solid #e63a3a !important; background: #f22c2c !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff5252, darkColorstr=#ea2424, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff5252), to(#ea2424)) !important;background: -moz-linear-gradient(top, #ff5252, #ea2424) !important;background: -o-linear-gradient(top, #ff5252, #ea2424) !important;border: 1px solid #e63939 !important; background: #f72828 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff4e4e, darkColorstr=#ef2020, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff4e4e), to(#ef2020)) !important;background: -moz-linear-gradient(top, #ff4e4e, #ef2020) !important;background: -o-linear-gradient(top, #ff4e4e, #ef2020) !important;border: 1px solid #e63535 !important; background: #fa2828 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff4e4e, darkColorstr=#f22020, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff4e4e), to(#f22020)) !important;background: -moz-linear-gradient(top, #ff4e4e, #f22020) !important;background: -o-linear-gradient(top, #ff4e4e, #f22020) !important;border: 1px solid #e63535 !important; background: #fc2626 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff4c4c, darkColorstr=#f41e1e, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff4c4c), to(#f41e1e)) !important;background: -moz-linear-gradient(top, #ff4c4c, #f41e1e) !important;background: -o-linear-gradient(top, #ff4c4c, #f41e1e) !important;border: 1px solid #e63333 !important; background: #ff2424 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff4a4a, darkColorstr=#f71c1c, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#f71c1c)) !important;background: -moz-linear-gradient(top, #ff4a4a, #f71c1c) !important;background: -o-linear-gradient(top, #ff4a4a, #f71c1c) !important;border: 1px solid #e63131 !important; background: #ff2121 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff4747, darkColorstr=#f71919, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff4747), to(#f71919)) !important;background: -moz-linear-gradient(top, #ff4747, #f71919) !important;background: -o-linear-gradient(top, #ff4747, #f71919) !important;border: 1px solid #e62e2e !important; background: #ff1f1f !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff4545, darkColorstr=#f71717, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff4545), to(#f71717)) !important;background: -moz-linear-gradient(top, #ff4545, #f71717) !important;background: -o-linear-gradient(top, #ff4545, #f71717) !important;border: 1px solid #e62c2c !important; background: #ff1c1c !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff4242, darkColorstr=#f71414, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff4242), to(#f71414)) !important;background: -moz-linear-gradient(top, #ff4242, #f71414) !important;background: -o-linear-gradient(top, #ff4242, #f71414) !important;border: 1px solid #e62929 !important; background: #ff1919 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff3f3f, darkColorstr=#f71111, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff3f3f), to(#f71111)) !important;background: -moz-linear-gradient(top, #ff3f3f, #f71111) !important;background: -o-linear-gradient(top, #ff3f3f, #f71111) !important;border: 1px solid #e62626 !important; background: #ff1414 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff3a3a, darkColorstr=#f70c0c, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff3a3a), to(#f70c0c)) !important;background: -moz-linear-gradient(top, #ff3a3a, #f70c0c) !important;background: -o-linear-gradient(top, #ff3a3a, #f70c0c) !important;border: 1px solid #e62121 !important; background: #ff1212 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff3838, darkColorstr=#f70a0a, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff3838), to(#f70a0a)) !important;background: -moz-linear-gradient(top, #ff3838, #f70a0a) !important;background: -o-linear-gradient(top, #ff3838, #f70a0a) !important;border: 1px solid #e61f1f !important; background: #ff0d0d !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff3333, darkColorstr=#f70505, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff3333), to(#f70505)) !important;background: -moz-linear-gradient(top, #ff3333, #f70505) !important;background: -o-linear-gradient(top, #ff3333, #f70505) !important;border: 1px solid #e61a1a !important; background: #ff0a0a !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff3030, darkColorstr=#f70202, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff3030), to(#f70202)) !important;background: -moz-linear-gradient(top, #ff3030, #f70202) !important;background: -o-linear-gradient(top, #ff3030, #f70202) !important;border: 1px solid #e61717 !important; background: #ff0808 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff2e2e, darkColorstr=#f70000, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff2e2e), to(#f70000)) !important;background: -moz-linear-gradient(top, #ff2e2e, #f70000) !important;background: -o-linear-gradient(top, #ff2e2e, #f70000) !important;border: 1px solid #e61515 !important; background: #fa0808 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff2e2e, darkColorstr=#f20000, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff2e2e), to(#f20000)) !important;background: -moz-linear-gradient(top, #ff2e2e, #f20000) !important;background: -o-linear-gradient(top, #ff2e2e, #f20000) !important;border: 1px solid #e61515 !important; background: #ed0707 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff2d2d, darkColorstr=#e50000, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff2d2d), to(#e50000)) !important;background: -moz-linear-gradient(top, #ff2d2d, #e50000) !important;background: -o-linear-gradient(top, #ff2d2d, #e50000) !important;border: 1px solid #e61414 !important; background: #de0707 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ff2d2d, darkColorstr=#d60000, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ff2d2d), to(#d60000)) !important;background: -moz-linear-gradient(top, #ff2d2d, #d60000) !important;background: -o-linear-gradient(top, #ff2d2d, #d60000) !important;border: 1px solid #e61414 !important; background: #b50606 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#db2c2c, darkColorstr=#ad0000, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#db2c2c), to(#ad0000)) !important;background: -moz-linear-gradient(top, #db2c2c, #ad0000) !important;background: -o-linear-gradient(top, #db2c2c, #ad0000) !important;border: 1px solid #c21313 !important; background: #a30505 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#c92b2b, darkColorstr=#9b0000, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#c92b2b), to(#9b0000)) !important;background: -moz-linear-gradient(top, #c92b2b, #9b0000) !important;background: -o-linear-gradient(top, #c92b2b, #9b0000) !important;border: 1px solid #b01212 !important; background: #940505 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#ba2b2b, darkColorstr=#8c0000, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#ba2b2b), to(#8c0000)) !important;background: -moz-linear-gradient(top, #ba2b2b, #8c0000) !important;background: -o-linear-gradient(top, #ba2b2b, #8c0000) !important;border: 1px solid #a11212 !important; background: #8a0707 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#b02d2d, darkColorstr=#820000, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#b02d2d), to(#820000)) !important;background: -moz-linear-gradient(top, #b02d2d, #820000) !important;background: -o-linear-gradient(top, #b02d2d, #820000) !important;border: 1px solid #971414 !important; background: #780909 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#9e2f2f, darkColorstr=#700101, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#9e2f2f), to(#700101)) !important;background: -moz-linear-gradient(top, #9e2f2f, #700101) !important;background: -o-linear-gradient(top, #9e2f2f, #700101) !important;border: 1px solid #851616 !important; background: #610e0e !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#873434, darkColorstr=#590606, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#873434), to(#590606)) !important;background: -moz-linear-gradient(top, #873434, #590606) !important;background: -o-linear-gradient(top, #873434, #590606) !important;border: 1px solid #6e1b1b !important; background: #5c0f0f !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#823535, darkColorstr=#540707, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#823535), to(#540707)) !important;background: -moz-linear-gradient(top, #823535, #540707) !important;background: -o-linear-gradient(top, #823535, #540707) !important;border: 1px solid #691c1c !important; background: #521010 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#783636, darkColorstr=#4a0808, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#783636), to(#4a0808)) !important;background: -moz-linear-gradient(top, #783636, #4a0808) !important;background: -o-linear-gradient(top, #783636, #4a0808) !important;border: 1px solid #5f1d1d !important; background: #471111 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#6d3737, darkColorstr=#3f0909, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#6d3737), to(#3f0909)) !important;background: -moz-linear-gradient(top, #6d3737, #3f0909) !important;background: -o-linear-gradient(top, #6d3737, #3f0909) !important;border: 1px solid #541e1e !important; background: #401212 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#663838, darkColorstr=#380a0a, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#663838), to(#380a0a)) !important;background: -moz-linear-gradient(top, #663838, #380a0a) !important;background: -o-linear-gradient(top, #663838, #380a0a) !important;border: 1px solid #4d1f1f !important; background: #3d1212 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#633838, darkColorstr=#350a0a, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#633838), to(#350a0a)) !important;background: -moz-linear-gradient(top, #633838, #350a0a) !important;background: -o-linear-gradient(top, #633838, #350a0a) !important;border: 1px solid #4a1f1f !important; background: #381313 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#5e3939, darkColorstr=#300b0b, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#5e3939), to(#300b0b)) !important;background: -moz-linear-gradient(top, #5e3939, #300b0b) !important;background: -o-linear-gradient(top, #5e3939, #300b0b) !important;border: 1px solid #452020 !important; background: #331414 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#593a3a, darkColorstr=#2b0c0c, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#593a3a), to(#2b0c0c)) !important;background: -moz-linear-gradient(top, #593a3a, #2b0c0c) !important;background: -o-linear-gradient(top, #593a3a, #2b0c0c) !important;border: 1px solid #402121 !important; background: #331515 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#593b3b, darkColorstr=#2b0d0d, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#593b3b), to(#2b0d0d)) !important;background: -moz-linear-gradient(top, #593b3b, #2b0d0d) !important;background: -o-linear-gradient(top, #593b3b, #2b0d0d) !important;border: 1px solid #402222 !important; background: #2e1515 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#543b3b, darkColorstr=#260d0d, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#543b3b), to(#260d0d)) !important;background: -moz-linear-gradient(top, #543b3b, #260d0d) !important;background: -o-linear-gradient(top, #543b3b, #260d0d) !important;border: 1px solid #3b2222 !important; background: #2b1515 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#513b3b, darkColorstr=#230d0d, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#513b3b), to(#230d0d)) !important;background: -moz-linear-gradient(top, #513b3b, #230d0d) !important;background: -o-linear-gradient(top, #513b3b, #230d0d) !important;border: 1px solid #382222 !important; background: #1f1414 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#453a3a, darkColorstr=#170c0c, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#453a3a), to(#170c0c)) !important;background: -moz-linear-gradient(top, #453a3a, #170c0c) !important;background: -o-linear-gradient(top, #453a3a, #170c0c) !important;border: 1px solid #2c2121 !important; background: #1f1515 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#453b3b, darkColorstr=#170d0d, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#453b3b), to(#170d0d)) !important;background: -moz-linear-gradient(top, #453b3b, #170d0d) !important;background: -o-linear-gradient(top, #453b3b, #170d0d) !important;border: 1px solid #2c2222 !important; background: #1f1717 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#453d3d, darkColorstr=#170f0f, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#453d3d), to(#170f0f)) !important;background: -moz-linear-gradient(top, #453d3d, #170f0f) !important;background: -o-linear-gradient(top, #453d3d, #170f0f) !important;border: 1px solid #2c2424 !important; background: #1c1616 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#423c3c, darkColorstr=#140e0e, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#423c3c), to(#140e0e)) !important;background: -moz-linear-gradient(top, #423c3c, #140e0e) !important;background: -o-linear-gradient(top, #423c3c, #140e0e) !important;border: 1px solid #292323 !important; background: #1a1515 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#403b3b, darkColorstr=#120d0d, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#403b3b), to(#120d0d)) !important;background: -moz-linear-gradient(top, #403b3b, #120d0d) !important;background: -o-linear-gradient(top, #403b3b, #120d0d) !important;border: 1px solid #272222 !important; background: #1a1616 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#403c3c, darkColorstr=#120e0e, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#403c3c), to(#120e0e)) !important;background: -moz-linear-gradient(top, #403c3c, #120e0e) !important;background: -o-linear-gradient(top, #403c3c, #120e0e) !important;border: 1px solid #272323 !important; background: #1a1717 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#403d3d, darkColorstr=#120f0f, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#403d3d), to(#120f0f)) !important;background: -moz-linear-gradient(top, #403d3d, #120f0f) !important;background: -o-linear-gradient(top, #403d3d, #120f0f) !important;border: 1px solid #272424 !important; background: #1a1818 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#403e3e, darkColorstr=#121010, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#403e3e), to(#121010)) !important;background: -moz-linear-gradient(top, #403e3e, #121010) !important;background: -o-linear-gradient(top, #403e3e, #121010) !important;border: 1px solid #272525 !important; background: #1a1919 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#403f3f, darkColorstr=#121111, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#403f3f), to(#121111)) !important;background: -moz-linear-gradient(top, #403f3f, #121111) !important;background: -o-linear-gradient(top, #403f3f, #121111) !important;border: 1px solid #272626 !important; background: #1a1a1a !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#404040, darkColorstr=#121212, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#121212)) !important;background: -moz-linear-gradient(top, #404040, #121212) !important;background: -o-linear-gradient(top, #404040, #121212) !important;border: 1px solid #272727 !important; background: #1c1c1c !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#424242, darkColorstr=#141414, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#141414)) !important;background: -moz-linear-gradient(top, #424242, #141414) !important;background: -o-linear-gradient(top, #424242, #141414) !important;border: 1px solid #292929 !important; background: #1f1f1f !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#454545, darkColorstr=#171717, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#171717)) !important;background: -moz-linear-gradient(top, #454545, #171717) !important;background: -o-linear-gradient(top, #454545, #171717) !important;border: 1px solid #2c2c2c !important; background: #242424 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#4a4a4a, darkColorstr=#1c1c1c, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#1c1c1c)) !important;background: -moz-linear-gradient(top, #4a4a4a, #1c1c1c) !important;background: -o-linear-gradient(top, #4a4a4a, #1c1c1c) !important;border: 1px solid #313131 !important; background: #2b2b2b !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#515151, darkColorstr=#232323, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#515151), to(#232323)) !important;background: -moz-linear-gradient(top, #515151, #232323) !important;background: -o-linear-gradient(top, #515151, #232323) !important;border: 1px solid #383838 !important; background: #2e2e2e !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#545454, darkColorstr=#262626, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#545454), to(#262626)) !important;background: -moz-linear-gradient(top, #545454, #262626) !important;background: -o-linear-gradient(top, #545454, #262626) !important;border: 1px solid #3b3b3b !important; background: #333333 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#595959, darkColorstr=#2b2b2b, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#2b2b2b)) !important;background: -moz-linear-gradient(top, #595959, #2b2b2b) !important;background: -o-linear-gradient(top, #595959, #2b2b2b) !important;border: 1px solid #404040 !important; background: #383838 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#5e5e5e, darkColorstr=#303030, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(#303030)) !important;background: -moz-linear-gradient(top, #5e5e5e, #303030) !important;background: -o-linear-gradient(top, #5e5e5e, #303030) !important;border: 1px solid #454545 !important; background: #3b3b3b !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#616161, darkColorstr=#333333, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#616161), to(#333333)) !important;background: -moz-linear-gradient(top, #616161, #333333) !important;background: -o-linear-gradient(top, #616161, #333333) !important;border: 1px solid #484848 !important; background: #3d3d3d !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#636363, darkColorstr=#353535, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#636363), to(#353535)) !important;background: -moz-linear-gradient(top, #636363, #353535) !important;background: -o-linear-gradient(top, #636363, #353535) !important;border: 1px solid #4a4a4a !important; background: #404040 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#666666, darkColorstr=#383838, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#383838)) !important;background: -moz-linear-gradient(top, #666666, #383838) !important;background: -o-linear-gradient(top, #666666, #383838) !important;border: 1px solid #4d4d4d !important; background: #424242 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#686868, darkColorstr=#3a3a3a, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#686868), to(#3a3a3a)) !important;background: -moz-linear-gradient(top, #686868, #3a3a3a) !important;background: -o-linear-gradient(top, #686868, #3a3a3a) !important;border: 1px solid #4f4f4f !important; background: #454545 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#6b6b6b, darkColorstr=#3d3d3d, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#6b6b6b), to(#3d3d3d)) !important;background: -moz-linear-gradient(top, #6b6b6b, #3d3d3d) !important;background: -o-linear-gradient(top, #6b6b6b, #3d3d3d) !important;border: 1px solid #525252 !important; background: #474747 !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#6d6d6d, darkColorstr=#3f3f3f, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#6d6d6d), to(#3f3f3f)) !important;background: -moz-linear-gradient(top, #6d6d6d, #3f3f3f) !important;background: -o-linear-gradient(top, #6d6d6d, #3f3f3f) !important;border: 1px solid #545454 !important; background: #4d4d4d !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#737373, darkColorstr=#454545, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#737373), to(#454545)) !important;background: -moz-linear-gradient(top, #737373, #454545) !important;background: -o-linear-gradient(top, #737373, #454545) !important;border: 1px solid #5a5a5a !important; background: #4f4f4f !important;filter:~'progid:DXImageTransform.Microsoft.gradient(lightColorstr=#757575, darkColorstr=#474747, GradientType=0)' !important;background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#474747)) !important;background: -moz-linear-gradient(top, #757575, #474747) !important;background: -o-linear-gradient(top, #757575, #474747) !important;border: 1px solid #5c5c5c !important;">Subscribe</button>
        </form>
      </div>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer" style="min-height:100px">
          <div style="float:left">
            <a href="http://stackexchange.com/users/3595236">
              <img src="http://stackexchange.com/users/flair/3595236.png" width="208" height="58" alt="profile for ʰᵈˑ on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for ʰᵈˑ on Stack Exchange, a network of free, community-driven Q&amp;A sites">
            </a>
          </div>
          <div style="float:right">
            {% include svg-icons.html %}
          </div>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
    
    <script type="text/javascript">
      var __rodeo_config = {
          'clientId': 'f7e61e2fa233d9aeb1b98346b9049eb40618650915c7eda0d60c4bf556db6a3e',
          'theme': 'lavender'
      };
  
      var d = document.getElementsByTagName('head')[0],
      s = document.createElement('script');
  
      s.type = 'text/javascript';
      s.src = '//cdn.emoji.rodeo/dist.js';
      d.appendChild(s);
    </script>


  </body>
</html>
