---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
  <div data-rodeo></div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
